---
import MotorBike from "../../icons/MotorBike.astro";
import Temp from "../../icons/Temp.astro";
import Shop from "../../icons/Shop.astro";
import Card from "./Card.astro";
---

<section id="services" class="max-w-xl mx-auto md:max-w-7xl px-5">
  <header class="mb-10 md:text-center">
    <h2 class="text-secundary-700 font-semibold tracking-wider text-2xl">Servicios</h2>
    <p class="text-degradate-800 text-sm leading-relaxed text-pretty max-w-2xl mx-auto">Nuestros servicios de transporte integral no solo superan expectativas, sino que también reflejan un compromiso sólido hacia la eficiencia, confiabilidad y la plena satisfacción del cliente.</p>
    <p class="text-degradate-800 text-sm leading-relaxed text-pretty max-w-2xl mx-auto">A continuacion presentaremos nuestro principales servicios.</p>
  </header>
  <section class="flex flex-col gap-10">
    <article class="flex flex-col md:flex-row gap-5 lg:gap-20">
      <div class="flex-1 flex flex-col gap-2 self-center">
        <h3 class="text-secundary-800 font-semibold text-lg">Traslado y distribución de mercancía con temperatura controlada</h3>
        <p class="text-xs text-degradate-900 font-medium leading-relaxed">Ofrecemos un servicio especializado de traslado y distribución de mercadería en contenedores diseñados para mantener una temperatura controlada. Operamos en un rango preciso de -15°C a +15°C, asegurando la integridad de los productos sensibles al clima. Nuestro enfoque meticuloso incluye el uso de equipos especializados, garantizando no solo la eficacia en la entrega, sino también la preservación óptima de la calidad y frescura de los productos, cumpliendo con los estándares más exigentes del sector salud y gastronómico.</p>
      </div>
      <div class="flex-1 max-h-[350px]">
        <img class="rounded-md w-full h-full object-cover" src="https://images.unsplash.com/photo-1614124760016-5fe39bdf27db?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </article>
    <article class="flex flex-col md:flex-row-reverse gap-5 lg:gap-20">
      <div class="flex-1 flex flex-col gap-2 self-center">
        <h3 class="text-secundary-800 font-semibold text-lg">Delivery Express o Mensajería In House</h3>
        <p class="text-xs text-degradate-900 font-medium leading-relaxed">Proporcionamos soluciones flexibles para el traslado y distribución eficiente de mercadería, documentos y paquetes menores. Nuestra opción de "Delivery Express" garantiza entregas rápidas y confiables, adaptándonos a plazos ajustados con una red logística ágil. Por otro lado, con nuestra mensajería "In House", brindamos a las empresas la posibilidad de externalizar sus procesos logísticos internos, asegurando una gestión integral y eficaz de la distribución interna de mercancías y documentos, permitiendo a nuestros clientes centrarse en sus actividades principales.</p>
      </div>
      <div class="md:flex-1 h-[350px]">
        <img class="block rounded-md w-full h-full object-cover" src="https://images.unsplash.com/photo-1604605801370-3396f9bd9cf0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </article>
    <article class="flex flex-col md:flex-row gap-5 lg:gap-20">
      <div class="flex-1 flex flex-col gap-2 self-center">
        <h3 class="text-secundary-800 font-semibold text-lg">Distribucion Ecommerce y/o Tienda Fisica
        </h3>
        <p class="text-xs text-degradate-900 font-medium leading-relaxed">OBrindamos soluciones distributivas versátiles, ya sea para el comercio electrónico o tiendas físicas. Nuestro servicio motorizado satisface las necesidades de tiendas virtuales, garantizando una distribución eficiente. Aseguramos una gestión eficaz de productos virtuales con entregas confiables y rápidas para una experiencia positiva del cliente. Para tiendas físicas que buscan optimizar la entrega, ofrecemos un servicio integral de delivery, proporcionando la comodidad de contar con un socio logístico confiable. Esto permite a las tiendas físicas concentrarse en sus operaciones principales mientras nosotros garantizamos entregas puntuales. </p>
      </div>
      <div class="flex-1 max-h-[350]">
        <img class="rounded-md w-full h-full object-cover" src="https://images.unsplash.com/photo-1449247666642-264389f5f5b1?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </article>
  </section>
</section>