---
import Layout from '../layouts/Layout.astro';

import Nav from "../components/nav/Nav.astro"
import Header from '../components/header/Header.astro';
import About from '../components/about/About.astro';
---

<Layout title="Nuencorp SAC">
	<Nav />
	<Header />
	<main class="mt-20">
		<About />
	</main>
</Layout>

