---
import Chevron from "../../icons/Chevron.astro";
---

<header class="max-w-2xl mx-auto lg:max-w-7xl mt-20">
  <section>
    <h2 class="text-3xl font-bold text-balance">
      Conectando Destinos, 
      <span class="text-primary-400">Superando Expectativas.</span>
    </h2>
    <div class="flex gap-5">
      <a class="inline-flex items-center bg-primary-200 hover:bg-primary-300 transition-colors text-white px-6 py-2 rounded-md" href="#services">
        Servicios
        <Chevron class="size-5"/>
      </a>
      <a class="inline-flex items-center border border-primary-200 text-degradate-900 transition-colors px-6 py-2 rounded-md" href="#contact">
        Contactanos
        <Chevron class="size-5"/>
      </a>
    </div>
  </section>
  <section>
    <img src="/header.jpg" alt="">
  </section>
</header>